<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- cacheEnabled 전체 캐싱 기능의 활성화 여부 설정. default: true	-->
		<setting name="cacheEnabled" value="true" />
		
		<!-- lazyLodingEnabled 지연 로딩 기능의 활성화 여부 설정. default: false -->
		<!-- setting name="lazyLodingEnabled" value="false" / -->
		
		<!-- aggressiveLazyLoading 지연 로딩을 더욱 공격적으로 수행할지의 여부 설정. default: true -->
		<!-- setting name="aggressiveLazyLoading" value="true" / -->
		
		<!-- multipleResultSetsEnabled 하나의 SQL 쿼리가 여러개의 ResultSet 반환 가능 여부 설정. default: true -->
		<setting name="multipleResultSetsEnabled" value="true" />
		
		<!-- useColumnLabel 결과 매핑 시 컬럼 레이블을 사용할지 컬럼 이름을 사용할지의 여부 설정. default: true -->
		<setting name="useColumnLabel" value="true" />
		
		<!-- useGeneratedKeys 자동 생성 키 사용 여부 설정. default: false -->
		<setting name="useGeneratedKeys" value="false" />
		
		<!-- autoMappingBehavior 자동 매핑 동작 방식 여부 설정. default: PARTIAL ( NONE, PARTIAL, FULL ) -->
		<setting name="autoMappingBehavior" value="PARTIAL" />
		
		<!-- defaultExecutorType 실행기 타입 설정. default: SIMPLE ( SIMPLE, REUSE, BATCH ) -->
		<setting name="defaultExecutorType" value="SIMPLE" />
		
		<!-- defaultStatementTimeout statement 실행 시 timeout 시간 설정. ( 단위: 초 ) -->
		<setting name="defaultStatementTimeout" value="50" />
		
		<!-- jdbcTypeForNull NULL 값 처리 시 사용할 JDBC 타입 설정. -->
		<setting name="jdbcTypeForNull" value="NULL" />
		
		<!-- lazyLoadTriggerMethods 지연 로딩을 트리거하는 메소드 목록 설정 -->
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hasCode,toString" />
		
		<!-- 
			defaultScriptingLanguage 기본 스크립트 언어 설정 ( 현재 미 설정 )
			- 기본 드라이버 		: org.apache.ibatis.scripting.xmltags.XMLLanguageDriver
			- Velocity 드라이버	: org.apache.ibatis.scripting.velocity.VelocityLanguageDriver
		-->
		<!-- setting name="defaultScriptingLanguage" value="org.apache.ibatis.scripting.xmltags.XMLLanguageDriver" / -->
		
		<!-- callSettersOnNulls NULL 값 전달 시 setter 메소드 호출 여부 설정. default: false -->
		<!-- setting name="callSettersOnNulls" value="false" / -->
		
		<!-- 
			logImpl 로깅 구현체를 설정. ( 현재 미 설정 )
			- LOG4J	:	org.apache.ibatis.logging.log4j.Log4jImpl
			- SLF4J		: 	org.apache.ibatis.logging.slf4j.Slf4jImpl
			- JDK		: 	org.apache.ibatis.logging.jdk14.Jdk14LoggingImpl
		-->
		<!-- setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl" / -->
		
		<!-- localCacheScope 로컬 캐시 범위 설정 default: SESSION ( SESSION, STATEMENT ) -->
		<setting name="localCacheScope" value="SESSION" />
		
		<!-- safeResultHandlerEnabled 안전한 결과 처리 기능 활성화/비활성화 여부 설정. default: true	-->
		<!-- setting name="safeResultHandlerEnabled" value="true" / -->
		
		<!-- safeRowBoundsEnabled 안전한 row bounds 기능의 활성화/비활성화 여부 설정. default: false -->
		<setting name="safeRowBoundsEnabled" value="false" />
		
		<!-- mapUnderscoreToCamelCase 컬럼명이 언더스코어 표기법(ex: user_id) 일 때 카멜 케이스 표기법(ex: useId)로 자동 매핑 여부 설정. default: false -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>